{
  "$schema": "https://swc.rs/schema.json",
  "minify": true,
  "module": {
    "type": "es6",
  },
  "jsc": {
    "target": "es2021",
    "minify": {
      "compress": false,
      "mangle": false
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "loose": false
  }
}
